<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>Inmar Test</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">

        <link rel="icon" href="/favicon.ico" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
                               integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
                               crossorigin="anonymous">

        <!-- [if lt IE 9]>
            <script scr="//html5shiv.googlecode.com/svn/trunk/hmtl5.js"></script>
            <script>window.html5 || document.write('<script scr="js/html5shiv.js"></script>')</script>
        <![endif]-->

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
                crossorigin="anonymous"></script>

        <%=htmlWebpackPlugin.files.webpackManifest%>
    </head>
    <body>
        <!-- [if lt IE 8]>
            <p class="browserupgrade">
                Please <a href="http://browsehappy.com/">upgrade your browser</a> 
            </p>
        <![endif]-->
        <div id="app"></div>
    </body>
</html>