$border-color: #ddd;
$header-color: #4ba9df;
$record-color: #828282;
$border-color--dark: #bbb;

.contacts {
    h4 {
        color: $header-color;
        padding-left: 10px;
    }
    h6 {
        color: $record-color;
        font-weight: normal;
        padding-left: 10px;
    }

    a {
        .box-icon {
            width: 20px;
            height: 20px;
            border: 1px solid $border-color--dark;
            border-radius: 4px;
            display: inline-block;
            line-height: 3px;
            font-size: 25px;
            font-weight: bold;
            padding-left: 3px;
            color: $border-color--dark;
            margin-right: 10px;
        }

        .text {
            padding-top: 5px;
            font-size: 12px;
            margin: 0;
            color: $record-color;
            display: inline-block;
            float: right;
        }
    }
    
    .tableWrapper {
        border-radius: 5px;
        border: 1px solid $border-color--dark;
        margin-bottom: 20px;
    }

    .table>thead>tr>th {
        border-bottom: 1px solid $border-color;
    }

    .table {
        font-size: 12px;
        margin-bottom: 0;
        td, th {
            border: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
        }

        td {
            padding: 10px 20px;
            color: $record-color;
        }

        th {
            font-weight: 500;
            padding: 20px;
            color: $header-color;
        }

        tr {
            th:first-child, th:last-child {
                border: none
            }

            th:first-child {
                padding: 0;
            }
            td:first-child {
                border-left:none;
                padding: 5px;
                width: 35px;
            }

            td:last-child {
                border-right: none;
            }
        }

        tr:last-child {
            td {
                border-bottom: none;
            }

            td:last-child, td:first-child {
                border-radius: 5px;
            }
        }

        input[type=checkbox] {
            width: 15px;
            height: 15px;
            cursor: pointer;
            font-size: 12px;
            visibility: hidden;
            margin: 5px;
            line-height: 12px;
        }

        input[type=checkbox]:after {
            content: " ";
            background-color: #fff;
            display: inline-block;
            color: $record-color;
            width:15px;
            height:15px;
            visibility: visible;
            border:1px solid $border-color--dark;
            padding-left: 2px;
        }
        input[type=checkbox]:checked:after {
            content: "\2714";
            font-weight:bold;
        }
    }

    > button {
        margin-right: 20px;
        .glyphicon {
            padding-right: 5px;
        }
    }
}